budgetschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by Troy Rodriguez (None) -->
<!-- W3C Schema generated by XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) -->
<xs:schema xmlns="http://www.AAAA.org/schemas/spotTVCableProposal" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tvb="http://www.AAAA.org/schemas/spotTV" xmlns:tvb-tp="http://www.AAAA.org/schemas/TVBGeneralTypes" targetNamespace="http://www.AAAA.org/schemas/spotTVCableProposal">
	<xs:import namespace="http://www.AAAA.org/schemas/spotTV" schemaLocation="availschema1.xsd"/>
	<xs:import namespace="http://www.AAAA.org/schemas/TVBGeneralTypes" schemaLocation="availschema2.xsd"/>
	<xs:element name="AAAA-Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AAAA-Values"/>
				<xs:element ref="Proposal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AAAA-Values">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SchemaName"/>
				<xs:element ref="SchemaVersion"/>
				<xs:element ref="Media"/>
				<xs:element ref="BusinessObject"/>
				<xs:element ref="Action"/>
				<xs:element ref="UniqueMessageID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Action">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="New"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Advertiser">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ABC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvailLineWithDetailedPeriods">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutletReference"/>
				<xs:element ref="DayTimes"/>
				<xs:element ref="DaypartName"/>
				<xs:element ref="AvailName"/>
				<xs:element ref="SpotLength"/>
				<xs:element ref="Periods"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvailList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="OutletReferences"/>
				<xs:element ref="DemoCategories"/>
				<xs:element ref="TargetDemo"/>
				<xs:element ref="Comment"/>
				<xs:element ref="AvailLineWithDetailedPeriods" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="endDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2024-08-25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="identifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AL1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isPackage" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2024-07-29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvailName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bonus"/>
				<xs:enumeration value="Cine Especial (Movies)"/>
				<xs:enumeration value="Contacto Deportivo (Sports Newscast)"/>
				<xs:enumeration value="De Noche Sin Sueno (Talk Show)"/>
				<xs:enumeration value="De Que Te Quiero (Novela)"/>
				<xs:enumeration value="Despierta America (News/Sports)"/>
				<xs:enumeration value="Destilando Amor (Novela)"/>
				<xs:enumeration value="El Gordo y La Flaca (Talk Show/Entertainment)"/>
				<xs:enumeration value="Gran Estrenos (Movie)"/>
				<xs:enumeration value="Marea de Passiones (Novela)"/>
				<xs:enumeration value="Noticias Arkansas (Local/News)"/>
				<xs:enumeration value="Noticiero Univision (News)"/>
				<xs:enumeration value="ROS"/>
				<xs:enumeration value="Spotlight Latino (Local/News)"/>
				<xs:enumeration value="Vecinos (Comedy)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BusinessObject">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Proposal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Buyer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BuyerName"/>
			</xs:sequence>
			<xs:attribute name="buyingCompanyName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DEF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuyerName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BUYER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Comment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tvb-tp:CommentLine"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DayTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StartTime"/>
				<xs:element ref="EndTime"/>
				<xs:element ref="Days"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DayTimes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DayTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DaypartName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BONUS"/>
				<xs:enumeration value="DAYTIME"/>
				<xs:enumeration value="EARLY FRINGE"/>
				<xs:enumeration value="EARLY NEWS"/>
				<xs:enumeration value="LATE FRINGE"/>
				<xs:enumeration value="LATE NEWS"/>
				<xs:enumeration value="MORNING"/>
				<xs:enumeration value="PRIME"/>
				<xs:enumeration value="ROS"/>
				<xs:enumeration value="SPORTS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Days">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tvb:Monday"/>
				<xs:element ref="tvb:Tuesday"/>
				<xs:element ref="tvb:Wednesday"/>
				<xs:element ref="tvb:Thursday"/>
				<xs:element ref="tvb:Friday"/>
				<xs:element ref="tvb:Saturday"/>
				<xs:element ref="tvb:Sunday"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DemoCategories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DemoCategory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DemoCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tvb:DemoType"/>
				<xs:element ref="tvb:Group"/>
				<xs:element ref="tvb:AgeFrom"/>
				<xs:element ref="tvb:AgeTo"/>
			</xs:sequence>
			<xs:attribute name="DemoId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DM0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DemoValue">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_DemoValue">
					<xs:attribute name="demoRef" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DM0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DemoValues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DemoValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DetailedPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rate"/>
				<xs:element ref="SpotsPerWeek"/>
				<xs:element ref="DemoValues"/>
			</xs:sequence>
			<xs:attribute name="startDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2024-07-29"/>
						<xs:enumeration value="2024-08-03"/>
						<xs:enumeration value="2024-08-04"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2024-08-10"/>
						<xs:enumeration value="2024-08-23"/>
						<xs:enumeration value="2024-08-24"/>
						<xs:enumeration value="2024-08-25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Email">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Email">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="primary"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EndTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="10:00"/>
				<xs:enumeration value="11:00"/>
				<xs:enumeration value="16:00"/>
				<xs:enumeration value="17:00"/>
				<xs:enumeration value="17:30"/>
				<xs:enumeration value="1:00"/>
				<xs:enumeration value="21:00"/>
				<xs:enumeration value="21:30"/>
				<xs:enumeration value="22:30"/>
				<xs:enumeration value="23:00"/>
				<xs:enumeration value="24:00"/>
				<xs:enumeration value="24:30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Media">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SpotTV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Budget Avail with Estimated Ratings KKYK_1092383"/>
				<xs:enumeration value="General List"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OutletReference">
		<xs:complexType>
			<xs:attribute name="outletFromProposalRef">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OUT0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="outletForListId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OUL0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="outletFromListRef">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OUL0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OutletReferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutletReference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Outlets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TelevisionStation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Periods">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DetailedPeriod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Phone">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="fax"/>
								<xs:enumeration value="voice"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Proposal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Seller"/>
				<xs:element ref="Buyer"/>
				<xs:element ref="Advertiser"/>
				<xs:element ref="Name"/>
				<xs:element ref="Outlets"/>
				<xs:element ref="AvailList"/>
			</xs:sequence>
			<xs:attribute name="endDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2024-08-25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sendDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2024-05-28T16:13:31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2024-07-29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uniqueIdentifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Pinnacle-Network1092383"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="weekStartDay" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mo"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rate">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="0"/>
				<xs:enumeration value="105"/>
				<xs:enumeration value="120"/>
				<xs:enumeration value="140"/>
				<xs:enumeration value="210"/>
				<xs:enumeration value="25"/>
				<xs:enumeration value="35"/>
				<xs:enumeration value="60"/>
				<xs:enumeration value="75"/>
				<xs:enumeration value="90"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Salesperson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Phone" maxOccurs="unbounded"/>
				<xs:element ref="Email"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Kim Nemeth"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SchemaName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SpotTVCableProposal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SchemaVersion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0.3.0.5A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Seller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Salesperson"/>
			</xs:sequence>
			<xs:attribute name="companyName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Pinnacle-Network"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpotLength">
		<xs:simpleType>
			<xs:restriction base="xs:time">
				<xs:enumeration value="00:00:30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SpotsPerWeek">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StartTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="10:00"/>
				<xs:enumeration value="15:00"/>
				<xs:enumeration value="17:00"/>
				<xs:enumeration value="19:00"/>
				<xs:enumeration value="20:00"/>
				<xs:enumeration value="22:00"/>
				<xs:enumeration value="22:30"/>
				<xs:enumeration value="23:00"/>
				<xs:enumeration value="24:00"/>
				<xs:enumeration value="6:00"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TargetDemo">
		<xs:complexType>
			<xs:attribute name="demoRef" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DM0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TelevisionStation">
		<xs:complexType>
			<xs:attribute name="callLetters" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Univision"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="outletId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OUT0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="parentPlus" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="UniqueMessageID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ID"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_DemoValue">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="1"/>
			<xs:enumeration value="1.5"/>
			<xs:enumeration value="11.2"/>
			<xs:enumeration value="11.9"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="12.4"/>
			<xs:enumeration value="13.7"/>
			<xs:enumeration value="14.6"/>
			<xs:enumeration value="16.2"/>
			<xs:enumeration value="2.9"/>
			<xs:enumeration value="3.2"/>
			<xs:enumeration value="3.7"/>
			<xs:enumeration value="5.4"/>
			<xs:enumeration value="6.7"/>
			<xs:enumeration value="8.3"/>
			<xs:enumeration value="9.1"/>
			<xs:enumeration value="9.9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Email">
		<xs:restriction base="xs:string">
			<xs:enumeration value="knemeth@duo-media.com"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Phone">
		<xs:restriction base="xs:string">
			<xs:enumeration value="(479) 268-6604"/>
			<xs:enumeration value="(479) 561-8559"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>