budgetschema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by Troy Rodriguez (None) -->
<!-- W3C Schema generated by XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) -->
<xs:schema xmlns="http://www.AAAA.org/schemas/spotTV" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.AAAA.org/schemas/spotTV">
	<xs:element name="AgeFrom">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AgeTo">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="54"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DemoType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Impression"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Friday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Group">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Adults"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Monday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Saturday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sunday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Thursday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tuesday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Wednesday">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>