schema.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) -->
<!ELEMENT Days (tvb-tp:Monday, tvb-tp:Tuesday, tvb-tp:Wednesday, tvb-tp:Thursday, tvb-tp:Friday, tvb-tp:Saturday, tvb-tp:Sunday)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Rate (#PCDATA)>
<!ELEMENT Buyer (BuyerName)>
<!ATTLIST Buyer
	buyingCompanyName CDATA #REQUIRED
>
<!ELEMENT Email (#PCDATA)>
<!ATTLIST Email
	type CDATA #FIXED "primary"
>
<!ELEMENT Media (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>
<!ATTLIST Phone
	type (fax | voice) #REQUIRED
>
<!ELEMENT Action (#PCDATA)>
<!ELEMENT Seller (Salesperson)>
<!ATTLIST Seller
	companyName (KTV-Media | Pinnacle-Network) #REQUIRED
>
<!ELEMENT Comment (tvb-tp:CommentLine)>
<!ELEMENT DayTime (StartTime, EndTime, Days)>
<!ELEMENT EndTime (#PCDATA)>
<!ELEMENT Outlets (TelevisionStation)>
<!ELEMENT Periods (DetailedPeriod+)>
<!ELEMENT DayTimes (DayTime)>
<!ELEMENT Proposal (Seller, Buyer, Advertiser, Name, Outlets, AvailList)>
<!ATTLIST Proposal
	endDate (2024-07-21 | 2024-08-25) #REQUIRED
	sendDateTime (2024-05-28T15:47:31 | 2024-05-28T16:13:31 | 2024-06-21T16:57:19 | 2024-06-21T17:19:59) #REQUIRED
	startDate (2024-07-01 | 2024-07-29) #REQUIRED
	uniqueIdentifier (Pinnacle-Network1092382 | Pinnacle-Network1092383 | Pinnacle-Network1092639 | Pinnacle-Network1092641) #REQUIRED
	version CDATA #FIXED "1"
	weekStartDay CDATA #FIXED "Mo"
>
<!ELEMENT AvailList (Name, OutletReferences, DemoCategories, TargetDemo, Comment, AvailLineWithDetailedPeriods+)>
<!ATTLIST AvailList
	endDate (2024-07-21 | 2024-08-25) #REQUIRED
	identifier CDATA #FIXED "AL1"
	isPackage (N | Y) #REQUIRED
	startDate (2024-07-01 | 2024-07-29) #REQUIRED
>
<!ELEMENT AvailName (#PCDATA)>
<!ELEMENT BuyerName (#PCDATA)>
<!ELEMENT DemoValue (#PCDATA)>
<!ATTLIST DemoValue
	demoRef (DM0 | DM1) #REQUIRED
>
<!ELEMENT StartTime (#PCDATA)>
<!ELEMENT tvb:AgeTo (#PCDATA)>
<!ELEMENT tvb:Group (#PCDATA)>
<!ELEMENT Advertiser EMPTY>
<!ATTLIST Advertiser
	name CDATA #REQUIRED
>
<!ELEMENT DemoValues (DemoValue+)>
<!ELEMENT SchemaName (#PCDATA)>
<!ELEMENT SpotLength (#PCDATA)>
<!ELEMENT TargetDemo EMPTY>
<!ATTLIST TargetDemo
	demoRef CDATA #FIXED "DM0"
>
<!ELEMENT AAAA-Values (SchemaName, SchemaVersion, Media, BusinessObject, Action, UniqueMessageID)>
<!ELEMENT DaypartName (#PCDATA)>
<!ELEMENT Salesperson (Phone+, Email)>
<!ATTLIST Salesperson
	name CDATA #FIXED "Kim Nemeth"
>
<!ELEMENT tvb:AgeFrom (#PCDATA)>
<!ELEMENT AAAA-Message (AAAA-Values, Proposal)>
<!ATTLIST AAAA-Message
	xsi:schemaLocation CDATA #IMPLIED
	xmlns CDATA #FIXED "http://www.AAAA.org/schemas/spotTVCableProposal"
	xmlns:tvb CDATA #IMPLIED
	xmlns:tvb-tp CDATA #FIXED "http://www.AAAA.org/schemas/TVBGeneralTypes"
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tv CDATA #FIXED "http://www.AAAA.org/schemas/spotTV"
>
<!ELEMENT DemoCategory (tvb:DemoType, tvb:Group, tvb:AgeFrom, tvb:AgeTo)>
<!ATTLIST DemoCategory
	DemoId (DM0 | DM1) #REQUIRED
>
<!ELEMENT SpotsPerWeek (#PCDATA)>
<!ELEMENT tvb:DemoType (#PCDATA)>
<!ELEMENT SchemaVersion (#PCDATA)>
<!ELEMENT tvb-tp:Friday (#PCDATA)>
<!ELEMENT tvb-tp:Monday (#PCDATA)>
<!ELEMENT tvb-tp:Sunday (#PCDATA)>
<!ELEMENT BusinessObject (#PCDATA)>
<!ELEMENT DemoCategories (DemoCategory+)>
<!ELEMENT DetailedPeriod (Rate, SpotsPerWeek?, DemoValues)>
<!ATTLIST DetailedPeriod
	startDate (2024-07-01 | 2024-07-08 | 2024-07-29 | 2024-08-03 | 2024-08-04 | 2024-08-12 | 2024-08-17) #REQUIRED
	endDate (2024-07-07 | 2024-07-21 | 2024-08-10 | 2024-08-11 | 2024-08-23 | 2024-08-24 | 2024-08-25) #REQUIRED
>
<!ELEMENT tvb-tp:Tuesday (#PCDATA)>
<!ELEMENT OutletReference EMPTY>
<!ATTLIST OutletReference
	outletFromProposalRef CDATA #FIXED "OUT0"
	outletForListId CDATA #FIXED "OUL0"
	outletFromListRef CDATA #FIXED "OUL0"
>
<!ELEMENT UniqueMessageID (#PCDATA)>
<!ELEMENT tvb-tp:Saturday (#PCDATA)>
<!ELEMENT tvb-tp:Thursday (#PCDATA)>
<!ELEMENT OutletReferences (OutletReference)>
<!ELEMENT tvb-tp:Wednesday (#PCDATA)>
<!ELEMENT TelevisionStation EMPTY>
<!ATTLIST TelevisionStation
	callLetters (KKYK | KLRA | KXUN | Univision) #REQUIRED
	outletId CDATA #FIXED "OUT0"
	parentPlus CDATA #FIXED "N"
>
<!ELEMENT tvb-tp:CommentLine (#PCDATA)>
<!ELEMENT AvailLineWithDetailedPeriods (OutletReference, DayTimes, DaypartName, AvailName, SpotLength, Periods)>
