trialschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.AAAA.org/schemas/spotTV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DemoType" type="xs:string"/>
  <xs:element name="Group" type="xs:string"/>
  <xs:element name="AgeFrom" type="xs:byte"/>
  <xs:element name="AgeTo" type="xs:byte"/>
  <xs:element name="CommentLine" type="xs:string"/>
  <xs:element name="Monday" type="xs:string"/>
  <xs:element name="Tuesday" type="xs:string"/>
  <xs:element name="Wednesday" type="xs:string"/>
  <xs:element name="Thursday" type="xs:string"/>
  <xs:element name="Friday" type="xs:string"/>
  <xs:element name="Saturday" type="xs:string"/>
  <xs:element name="Sunday" type="xs:string"/>
</xs:schema>
